<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Abrt Server</title>

        <link rel="stylesheet" href="{{url_for('static', filename='css/patternfly-additions.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/patternfly.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-multiselect.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/daterangepicker-bs3.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap-tagsinput.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/typeaheadjs.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

        <script src="{{url_for('static', filename='js/jquery.js')}}"></script>
        <script src="{{url_for('static', filename='js/bootstrap.js')}}"></script>

    </head>
    <body>
        <div class="navbar navbar-default navbar-pf">
                 <a class="navbar-brand" href="{{ url_for('index') }}"><strong class="brand-title">{{config.BRAND_TITLE}}</strong>{{config.BRAND_SUBTITLE}}</a>
        </div>
        <div class='jumbotron depth-0'>
            <div class='container'>
                <div class="row">
                    <div class="col-md-9 col-lg-9">
                        <h1>Automatic Bug Reporting Tool</h1>
                        <p>
                            ABRT is a set of tools for detecting and reporting application crashes.<br>
                            Crashes are automatically recognized and processed for later reporting
                            and analysis.<br>
                            This reporting can be automatic or users can add additional information
                            and report it by our tools. Reports are collected, analyzed
                            and aggregated providing valuable information for developers.
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-3">
                        <div class="logo-transparent">
                            <img src="{{url_for('static', filename='abrt-logo.png')}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wide-panel">
            <h1>Remote services</h1>
            <div class='container'>
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-6">
                        <div class="single-block border-right">
                            <h2>Fedora Analysis Framework</h2>
                            <p>
                                Framework for aggregating and analyzing reports of crashes.<br>
                                For users a webpages are available containing reports, problems and
                                statistics for finding out when, how and to whom application
                                crashes.
                                {% if config.MORE_RS %}
                                    <a href="{{config.MORE_RS}}">Learn more...</a><br>
                                {% endif %}
                                <br>
                            </p>
                            <a href={{config.URL_FOR_FAF}} class="btn btn-default depth-2">Visit FAF
                            webpages</a><br>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single-block">
                            <h2>Retrace Server</h2>
                            <p>
                                Reporting users can send coredump for remote analysis and receive backtrace
                                without a need to install debuginfo packages locally.
                                This process is also integrated into automatic reporting.
                                {% if config.MORE_FAF %}
                                    <a href="{{config.MORE_FAF}}">Learn more...</a><br>
                                {% endif %}
                                <br>
                            </p>
                                {% if config.URL_FOR_RS %}
                                    <a href="{{config.URL_FOR_RS}}" class="btn btn-default depth-2">Visit
                                        Retrace Server</a><br>
                                {% else %}
                                    This feature is not accessible through web UI.
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <a data-toggle="collapse" href="#disclaimer" class="disclaimer-link">Click to see retrace server's disclaimer</a>

             <div id="disclaimer" class="collapse">
                <div class='container'>
                    <div class="row no-gutters">
                        <div class="col-md-6 col-lg-6">
                            <div class="disclaimer-block border-right">
                                <h2>Keeping your data</h2>
                                <p>
                                    Your coredump is only kept on the server while the retrace job is running.
                                    Once the job is finished, the server keeps retrace log and backtrace.
                                    All the other data (including coredump) are deleted.
                                    The retrace log and backtrace are only accessible via unique task ID and password, thus no one (except the author) is allowed to view it.
                                    All the crash information (including backtrace) is deleted after
                                    {{config.RS_DELETE_AFTER}} hours of inactivity.
                                    No possibly private data are kept on the server any longer.
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="disclaimer-block">
                                <h2>Communicating with server</h2>
                                <p>
                                    Your coredump is only used for retrace purposes.
                                    Server administrators are not trying to get your private data from coredumps or backtraces.
                                    Using a secure communication channel (HTTPS) is strictly recommended.
                                    Server administrators are not responsible for the problems related to the usage of an insecure channel (such as HTTP).
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
        <div class="wide-panel">
            <h1>End-user application</h1>
            <div class='container'>
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-6">
                        <div class="single-block border-right">
                            <h2>Automatic Bug Reporting Tool</h2>
                            <p>
                                Tool for recognition of defects in applications. This recognition is
                                automatic and to user a report is presented. This report can be
                                reported to help developers fix that problem.
                                {% if config.MORE_ABRT %}
                                    <a href="{{config.MORE_ABRT}}">Learn more...</a><br>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single-block">
                            <h2>Gnome ABRT</h2>
                            <p>
                            A graphical application for browsing detected problems. Each problem  is presented
                            as a full report for better understanding of crash. Via this app a bug
                            can also be reported.
                                {% if config.MORE_GABRT %}
                                    <a href="{{config.MORE_GABRT}}">Learn more...</a><br>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wide-panel">
            <h1>Libraries</h1>
            <div class='container'>
                <div class="row no-gutters">
                    <div class="col-md-6 col-lg-6">
                        <div class="single-block border-right">
                            <h2>Libreport</h2>
                            <p>
                                A library for reporting various problems to destinations like
                                mailing lists, regular files, remote servers
                                and bug tracking tools. Another destinations and tools can be
                                easily added by writing its own plugins.
                                {% if config.MORE_LR %}
                                    <a href="{{config.MORE_LR}}">Learn more...</a><br>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="single-block">
                            <h2>Satyr</h2>
                            <p>
                                Satyr is a collection of low-level algorithms for program failure
                                processing,
                                analysis and reporting supporting kernel space, user space, Python,
                                and Java programs.
                                {% if config.MORE_SATYR %}
                                    <a href="{{config.MORE_SATYR}}">Learn more...</a><br>
                                {% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-panel">
            <p>
                ABRT |
                <a href="wiki_pages">About</a>
                |
                <a href="https://github.com/abrt/">Report a bug</a>
            <p>
        </div>
    </body>
</html>
